<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/chatRoom.css" rel="stylesheet">

    <script src="/resources/js/jquery-1.12.4.min.js"></script>
    <script src="/resources/js/jquery.rotate.js"></script>
    <script src="/resources/js/vue.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <title>欢迎使用nbPlus聊天室系统</title>
    <script>
        var isOpen=true;
        function toggleOnlineList(){
            if(isOpen){
                $('#online_list_bar_span').rotate({animateTo:90 ,duration:200});
                isOpen=false;
            }else{
                $('#online_list_bar_span').rotate({animateTo:0 ,duration:200});
                isOpen=true;
            }
            $('#online_list').slideToggle(200);
        }
        //将聊天内容滚动条移到最底部
        function scrollToBottom(){
            //用setTimeout将其变为异步操作
            setTimeout(function (){
                var scrollHeight = $('#chat-box-content-message').prop("scrollHeight");
                $('#chat-box-content-message').scrollTop(scrollHeight,200);
            },70);
        }
    </script>
    <style>
    </style>
</head>
<body>
<div  id="vueTemplate">
<header class="head-bar">
    <ul class="nav nav-pills" style="float: right">
        <li role="presentation"><a  class="head-bar-li-a" disabled="false" id="head-bar-username">欢迎你,{{username}}</a></li>
        <li role="presentation" style="background-color: white;border-radius: 5px"><a href="#" class="head-bar-li-a" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">个人信息</a>
            <ul class="dropdown-menu">
                <li><a href="#">修改头像</a></li>
            </ul>
        </li>
        <li role="presentation"><a href="#" class="head-bar-li-a">消息</a></li>
        <li class="dropdown">
            <a href="#" class="head-bar-li-a" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false" style="margin-right: 120px">账户管理<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">修改密码</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">退出登录</a></li>
            </ul>
        </li>
    </ul>
</header>

<div id="chat-box">
    <div id="chat-box-navbar" style="color: white">
        <p onclick="toggleOnlineList()" id="online_list_bar">在线人数({{onlineSize}})<span class="glyphicon glyphicon-chevron-down" id="online_list_bar_span"></span></p>
        <ul id="online_list" >
            <li v-for="member in onLineList"><a href="#" v-bind:id="'member_'+member" @click="showMessage">{{member}}</a></li>
        </ul>
    </div>
    <div id="chat-box-content">
        <div id="chat-box-content-title">
            <span>测试群聊({{onlineSize}})</span>
        </div>
        <div id="chat-box-content-message">
            <div v-for="message in groupMessage" style="text-align: center">
                <p v-if="message.showTime" style="display: inline-block;font-size: small">{{message.timeString}}</p>
            <div class="message other_message" v-if="!(message.sender===username)">
                <table style="display: inline-block">
                    <tr>
                        <td rowspan="2" style="text-align: center;width: 70px;position: relative">
                            <img v-bind:src=`/resources/img/user_logo/${message.sender}.jpg` height="50px" width="50px" class="img-circle"
                                 style="position: absolute;top:10px;left: 10px">
                        </td>
                        <td style="font-size: 13px;color: blue">{{message.sender}}</td>
                    </tr>
                    <tr>
                        <td class="message-content">{{message.content}}</td>
                    </tr>
                </table>
            </div>
            <div class="message my_message" v-if="message.sender===username">
                <table style="display: inline-block;">
                    <tr>
                        <td style="font-size: 13px;color: blue">{{username}}</td>
                        <td rowspan="2" style="text-align: center;width: 70px;position: relative">
                            <img v-bind:src=`/resources/img/user_logo/${username}.jpg` height="50px" width="50px" class="img-circle"
                            style="position: absolute;top:10px;left: 10px">
                        </td>
                    </tr>
                    <tr>
                        <td class="message-content" style="background-color: deepskyblue">{{message.content}}</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
        <div id="chat-box-content-control">
            <textarea style="height: 100px;width: 90%;resize: none;margin-left:5%;margin-top:25px;"
                      class="form-control" v-model="clientData.textBoxMessage" placeholder="输入想要发送的内容吧。。。"></textarea><br>
            <div style="margin-top: 30px;position: relative;top:-30px;text-align: right">
                <button class="btn btn-primary" id="send-btn" @click="sendMessage" @keypress.enter="sendMessage" tabindex="1">发送</button>
                <button class="btn btn-danger" id="reset-btn" @click="clearMessageBox">清空</button>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

  clientData={
      serverIP:"",
      username:"",
      onLineList:{},
      onlineSize:0,
      groupMessage:[],
      textBoxMessage:""
  }
  var vm=new Vue({
      el:'#vueTemplate',
      data:clientData,
      created:function (){
          //客户端页面加载时使消息栏滚动条滚到底部
          scrollToBottom();
      },
      methods:{
          showMessage:function (e){
              let re=e.path[0].id;
              re=re.substring(re.lastIndexOf('_')+1);
              let re2=this.username;
              if(re2>re){
                  let t=re;
                  re=re2;
                  re2=t;
              }
              let historyFileName=`${re2}_to_${re}.json`;
              console.log(historyFileName);
              $(function (){
                  $.ajax({
                      type: "GET",//请求方式
                      url: `/database/historyMsg/${historyFileName}`,//地址，就是json文件的请求路径
                      dataType: "json",//数据类型可以为 text xml json  script  jsonp
                      success: function(result){//返回的参数就是 action里面所有的有get和set方法的参数
                          console.log(result);
                          clientData.groupMessage=result;

                      }
                  })
              })

          }
      }
  });


    var socket = io.connect(`http://${clientData.serverIP}:8888`);


    //初始化客户端，渲染用户名，在线列表等
    socket.on('init',function (info){
        clientData.serverIP=info.serverIP;
        clientData.username=info.username;
        clientData.onlineSize=info.onlineSize;
        clientData.groupMessage=info.groupMessage;
    });
    //说话
    function sendMessage(e){
        //消息不为空时发送
        if(clientData.textBoxMessage!==""){
            socket.emit('sendMessage',clientData.textBoxMessage);
            scrollToBottom();
        }
        //将内容发到服务器后清空输入框
        clientData.textBoxMessage="";
    }
    //清空输入框
   function clearMessageBox(){
        clientData.textBoxMessage="";
   }
   //客户端接收别人的消息
  socket.on('updateGroupMsg',function (groupMessage){
     clientData.groupMessage=groupMessage;
     scrollToBottom();
  });


    //接受刷新列表数据
  socket.on('aMemberOn',function (nameList){
     clientData.onLineList=nameList;
     clientData.onlineSize++;
  });
  socket.on('aMemberOff',function (nameList){
    clientData.onLineList=nameList;
    clientData.onlineSize--;
  });

</script>
</body>
</html>